* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
}

body {
    margin: 0;
    font-family: 'Works Sans', sans-serif;
    font-weight: 300;
}


header {
    background: rgba(33, 52, 84);
    justify-content: space-between;
}
h1 a {
    color: white;
    font-size: smaller;
}

.jumbotron {
    background-image: url("../images/19577124_10155429195391407_513304593199093597_o.jpg");
    background-size: cover;
    background-position-x: 15%;
    background-position-y: 15%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
}

.jumbotron h2 {
    color: rgba(33, 52, 84);
    font-size: 10rem;
    padding: 20rem 0 20rem 0;
    margin: auto;
}

.motto {
    background-color: rgba(33, 52, 84);
    padding: 2rem;
    margin: auto;
}

.motto h3 {
    color: white;
    padding: 2.5rem 0 2.5rem 0;
    margin: auto;
    flex-flow: row wrap;
    box-sizing: border-box;
    width: 29%;
    text-align: center;
}

#FF1 {
    text-align: center;
    line-height: normal;
    margin-bottom: 3rem;
}

#FF1 h4 {
    margin-top: 3rem;
    margin-bottom: 0;
}

#FF1 p {
    font-size: small;
}

.container #to, #from {
    margin: .5rem 0 .5rem 0;
    width: 50%;
}

.button-black {
    background-color: rgba(33, 52, 84);
    border-color: rgba(33, 52, 84);
  }

.booking-flights {
    background-color: rgba(33, 52, 84);
    color: white;
}

.booking-flights h4 {
    text-align: center;
    padding-top: 3rem;
}

.booking-flights h5 {
    padding: 1rem 0 1rem 0;
    text-align: left;
    width: 82%;
    margin: auto;

}

.booking-flights p {
    font-size: smaller;
    width: 80%;
    margin: auto;
    padding: .5rem 0 .5rem 0;
    text-align: left;
}

header::after {
    content: '';
    display: table;
    clear: both;
}

h1 {
    float: left;
    padding: 10px 0;
    
}

h2 {
    text-align: center;
}

nav {
    float: right;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    align-self: center;
}

nav li {
    display: inline-block;
    margin-left: 70px;
    padding-top: 25px;

    position: relative;
}

nav a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
}

nav a:hover {
    color: #000
}

nav a::before {
    content: '';
    display: block;
    height: 5px;
    background-color:rgba(33, 52, 84);

    position: absolute;
    top: 0;
    width: 0%;

    transition: all ease-in-out 200ms;
}

nav a:hover::before {
    width: 100%;
}

.flightAnnouncement {
    color: white;
    padding: 2rem 0 2rem 0;
}

#FF2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(33, 52, 84);
}

#FF2 button {
    width: 500px;
    background-color: white;
    border-color: white;
    color: rgba(33, 52, 84);
}

#FF3 h4 {
    padding-top: 2rem;
    color: rgba(33, 52, 84);

}

#references {
    color: white;
    background-color: rgba(33, 52, 84);
}

p .faqs {
    flex-flow: column wrap;
    justify-content: space-between;
}

footer {
    padding: 30px;
    text-align: left;
    background: rgba(33, 52, 84);
    font-size: smaller;
}

footer h7, a {
    color: white;
}

ul {
    text-align: center;
    
}

@media screen and (max-width:500px) {
    header {
        width: 100%;
    }
     
}